.page-header {
    min-height: 100%;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: -15px;
}
.header-contents {
    top: 50%;
    position:absolute;
    font-size: 18px;
}
.header-contents h1 {
    font-size: 18px;
    font-weight: 300;
}
.header-contents button {
    font-size: 18px;
    border-radius: 30px;
    font-weight: 300;
}

.header-contents button:focus {
    outline: None;
}

.Hello{
  font-size: 18px;
}
